<h1>Wanna bring me into your circle?</h1>
<p>email: mayaoffsetmatrix@gmail.com</p>
<p>telegram: https://t.me/winterrdog</p>
<p>github: https://github.com/winterrdog ( we can use issues as
    groundwork for a real comm! :) )</p>

<a href="/">Go back to Home</a>
<div class="foot-cls">
    <footer>created by winterrdog</footer>
</div>