<h1>Welcome to my research blog</h1>
<h2>Content</h2>
<ul>
    <li><a href="about">About</a></li>
    <li><a href="contact-me">Contact me</a></li>
</ul>
<p>I talk about:</p>
<ul>
    <li>cybersecurity</li>
    <li>computer programming( preferably C, C++, Python & Golang )</li>
</ul>
<p>You can always check out my
    <a href="https://github.com/winterrdog">GitHub</a>
    for more info about programming.
</p>
<div class="foot-cls">
    <footer>created by winterrdog</footer>
</div>